:root {
	--balck: black;
	--balck-BG: rgba(0, 0, 0, 0.1);
	--white: #fff1be;
	--white-green: #afd671;
	--green: #6c962a;
	--white-red: #e3b271;
	--red: #f25416;
	--yellow: #e6a82c;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--white);
}

.Box {
	background-color: var(--balck-BG);
	border-radius: 20px;
}

header {
	width: 100%;
	padding: 15px 0;
	display: flex;
	justify-content: center;
}
